body {
    background-image: url('../img/background3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    backdrop-filter: blur(5px);
}

#preview {
    height: 350px;
    width: 315px;
    border: 5px solid #D61728;
    box-sizing: border-box;
}
#imgContainer{
    height: 350px;
    width: 315px;
    border: 5px solid #D61728;
    box-sizing: border-box; 
}

.form-heading {
    color: #D61728;
}

.form-inputs {
    background-color: white;
    border: 3px solid #D61728;
    color: black;
    border-radius: 50px;
}

.right-side {
    background-color: black;
    border-radius: 10px;
    box-shadow: 5px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.form-headings {
    color: #D61728;
}

.submit-btn {
    background-color: #D61728;
    color: black;
}